.numbers {
    grid-area: button;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .numbers button {
    width: 19.7%;
    height: 19.5%;
    cursor: pointer;
    border: none;
  }
  .number {
    background-color: var(--color-number);
    border-radius: var(--radius);
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .sign {
    font-size: 1.2rem;
    background-color: var(--color-sign);
    border-radius: var(--radius);
  }
  
  .sign i,
  img {
    background-color: transparent;
  }
  .sign i:hover,
  img:hover {
    background-color: transparent;
  }
  .number:hover {
    background-color: var(--color-hover);
  }
  .sign:hover {
    background-color: var(--color-hover);
  }
  sup,
  sub {
    background-color: transparent;
  }