header {
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
  }
  .title p {
    font-size: 0.8rem;
    padding-left: 2px;
    font-weight: 400;
    padding-top: 5px;
  }
  
  header .icons {
    justify-content: space-between;
  }
  
  .icons i {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .icons i:last-child {
    margin-right: 5px;
  }
  .close:hover {
    background: rgb(206, 89, 89);
    color: #fff;
  }
  .mini:hover,
  .max:hover {
    background: var(--color-hover);
    color: #fff;
  }
  
    