div.result {
    grid-area: result;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .burger {
    display: inline-flex;
    justify-content: space-between;
  }
  .burger p {
    margin-left: 15px;
    font-size: 1.2rem;
    margin-top: 3px;
  }
  .burger .left-side {
    display: flex;
    align-items: baseline;
  }
  .burger .left-side p + img {
    width: 14px;
    height: 14px;
    margin-left: 20px;
    background-color: var(--color-container);
  }
  .left-side img {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 50px;
    height: 25px;
    cursor: pointer;
    margin-top: 5px;
  }
  .left-side img:hover,
  .burger .left-side p + img:hover {
    background-color: var(--color-hover);
    border-radius: var(--radius);
  }
  .left-side p {
    align-self: center;
  }
  .burger .right-side {
    align-self: center;
  }
  .right-side img {
    display: none;
    margin-right: 16px;
    cursor: pointer;
  }
  
  .result .modes {
    display: flex;
    max-width: 380px;
    justify-content: space-between;
    align-items: center;
  }
  .modes button {
    font-size: 0.75rem;
    background: transparent;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    width: 25%;
    border: none;
    outline: none;
  }
  .modes button.active:hover {
    background: var(--color-hover);
    border-radius: var(--radius);
  }
  .modes button.active {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .modes button.de-active {
    color: #999;
    cursor: default;
  }
  .modes i {
    font-size: 0.5rem;
  }
  .output {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
  }
  .result .zero {
    align-self: flex-end;
    padding-right: 20px;
    justify-content: flex-end;
    font-size: calc(2rem + 3.5vh);
    font-weight: 500;
    color: var(--color-font);
  }
  #first-number {
    padding-right: 20px;
  }
.m {
  position: relative;
}