/* theme */
:root[data-theme="main-theme"] {
  --color-container: rgba(210, 210, 210, 0.913);
  --color-sign: rgb(236, 234, 234);
  --color-number: #fff;
  --color-hover: rgba(128, 128, 128, 0.618);
  --color-hover-ul :rgba(148, 142, 142, 0.618);
  --color-mc-mr: rgba(111, 111, 111, 0.618);
  --font-family: "Segoe UI";
  --radius : 0 ;
}
:root[data-theme="green"] {
  --color-container: rgba(212, 251, 94, 0.938);
  --color-sign: #79d10e;
  --color-number: #aae740e5;
  --color-hover: #15520a9a;
  --color-hover-ul : #15520a9a;
  --color-mc-mr: rgb(19, 73, 19);
  --radius: 15px;
  --font-family: " serif";
}
:root[data-theme="black"] {
  --color-container: #121212;
  --color-sign: #717171ac;
  --color-number: #303030f3;
  --color-mc-mr: order;
  --color-hover: #ff9900f9;
  --color-hover-ul : #ff9900f9;
  --color-font: rgba(255, 255, 255, 0.807);
  --radius: 500px 100px;
  --font-family: "Solway", serif;
}

:root[data-theme="blue"] {
  --color-container: #bcdefb;
  --color-sign: #4fb3f6;
  --color-number: #6fd0f9e5;
  --color-hover: #0866ea;
  --color-hover-ul : rgba(8, 102, 234, 1) !important;
  --color-mc-mr: #004f79;
  --color-font: #111525;
  --radius: 40px 0;
  --font-family: Lucida Sans Unicode, "Lucida Sans";
}


*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);

  /* overflow: hidden; */
}
body{
  background-color: var(--color-container);
}
ul,
li {
  list-style: none;
  background-color: transparent;
}
p{
  background-color: unset;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 320px;
  grid-template-rows: minmax(30px, 3%) minmax(150px, 35%) minmax(230px, 62%);
  grid-template-areas:
    "header header"
    "result history"
    "button history";
}

header {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.title p {
  font-size: 0.8rem;
  padding-left: 2px;
  font-weight: 400;
  padding-top: 5px;
}

header .icons {
  justify-content: space-between;
}

.icons i {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.icons i:last-child {
  margin-right: 5px;
}
.close:hover {
  background: rgb(206, 89, 89);
  color: #fff;
}
.mini:hover,
.max:hover {
  background: rgb(195, 191, 191);
  color: #fff;
}
div.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.burger {
  display: inline-flex;
  margin-left: 10px;
  justify-content: space-between;
}
.burger p {
  margin-left: 15px;
  font-size: 1.2rem;
  margin-top: 3px;
}
.burger .left-side {
  display: flex;
  align-items: baseline;
}
.burger .left-side p + img {
  width: 14px;
  height: 14px;
  margin-left: 20px;
  background-color: var(--color-container);
  ;
}
.left-side img {
 
  display: flex;
  justify-content: center;
  align-self: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
 
}
.left-side img:hover,
.burger .left-side p + img:hover{
  background-color: var(--color-hover);
  border-radius: var(--radius);
}
.left-side p {
  align-self: center;
}
.burger .right-side {
  align-self: center;
}
.right-side img {
  display: none;
  margin-right: 16px;
  cursor: pointer;
}

.result .modes {
  display: flex;
  max-width: 380px;
  justify-content: space-between;
  align-items: center;
}
.modes button {
  font-size: 0.75rem;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  width: 25%;
  border: none;
  background-color: var(--color-container);
  outline: none;
}
.modes button.active:hover {
  background: var(--color-hover);
  border-radius: var(--radius);
}
.modes button.active {
  font-size: 0.9rem;
  font-weight: 500;
}
.modes button.de-active {
  color: #999;
  cursor: default;
}
.modes i {
  font-size: 0.5rem;
}
.output {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.result .zero {
  align-self: flex-end;
  padding-right: 20px;
  justify-content: flex-end;
  font-size: calc(2rem + 3.5vh);
  font-weight: 500;
  color: var(--color-font);
}
.history {
  grid-area: history;
  margin-top: 5px;
}
.history h5 {
  margin-top: 37px;
  font-weight: 600;
  font-size: 1.1rem;
}
.history p {
  font-size: 1rem;
}

.history ul {
  width: 100%;
  display: block;
  text-align: end;
  padding-right: 10px;
  
}
/* .history p:hover{
background-color: var(--color-hover) !important;
} */

.hover:hover{
  background-color: var(--color-hover-ul) !important;
}
.history-hover:hover{
  background-color: var(--color-hover-ul) !important;
}
.history ul li span {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  color: var(--color-font);
  background-color: unset;
}
.history h4 {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
}
.history h4.border-bottom {
  border-bottom: 2px solid orange;
}
.numbers {
  grid-area: button;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.numbers button {
  width: 19.7%;
  height: 19.5%;
  cursor: pointer;
  border: none;
}
.number {
  background-color: var(--color-number);
  border-radius: var(--radius);
  font-weight: bolder;
  font-size: 1.5rem;
}
.sign {
  font-size: 1.2rem;
  background-color: var(--color-sign);
  border-radius: var(--radius);
}
.sign i,
img {
  background-color: transparent;
}
.sign i:hover,
img:hover {
  background-color: transparent;
}
.number:hover{
  background-color: var(--color-hover);
}
.sign:hover{
  background-color: var(--color-hover);
}
sup,
sub {
  background-color: transparent;
}
#first-number {
  position: relative;
  left: 0;
}
.sm-show {
  display: none;
}
.trash{
  display: none;
  position: fixed;
  bottom: 3px;
  right: 4px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.trash:hover{
  background-color: var(--color-hover);
  border-radius: var(--radius);
}

.trash i
{
  display: flex;
justify-content: center;
align-items: center;
background: transparent;
height: 100%;

}
.m{
  position: relative;
}
#checkBox{
  position: absolute;
  bottom: 10px;
  right: 22px;
  visibility: hidden;
  width: 15px;
  height: 15px;
  border: none;
  outline: none;
  background: var(--color-container);
}

@media only screen and (max-width: 1024px) {
  .numbers button {
    width: 24.7%;
    height: 16.3%;
  }
  .lg-hide {
    display: none;
  }
  .lg-row {
    order: -4;
  }
  .lg-row1 {
    order: -3;
  }
  .lg-row2 {
    order: -2;
  }
  .lg-row3 {
    order: -1;
  }
}
@media screen and (max-width: 740px) {
  .container {
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .sm-show {
    display: block;
  }

  .container {
    grid-template-columns: 2fr;
  }
  
  .history {
    grid-area: button;
    display: none;
  }
  .numbers{
    display: flex;
  }
  .right-side img {
    display: flex;
   
  }
  .burger .left-side p + img {
    display: none;
  }
}
@media only screen and (max-height: 620px) {
  .numbers button {
    width: 24.7%;
    height: 16.3%;
  }
  .lg-hide {
    display: none;
  }
  .lg-row {
    order: -4;
  }
  .lg-row1 {
    order: -3;
  }
  .lg-row2 {
    order: -2;
  }
  .lg-row3 {
    order: -1;
  }
}
