/* theme */
:root[data-theme="theme-container"] {
  --color-container: rgba(210, 210, 210, 0.913);
  --color-keyboard: #dbdbdbcc;
  --clolor-namber: #eeececa4;
  --color-hover: #9494948d;
  --color-mc-mr: rgba(111, 111, 111, 0.618);
  --font-family: "Noto Sans", sans-serif;
}

:root[data-theme="black"] {
  --color-container: #121212;
  --color-keyboard: #717171ac;
  --clolor-namber: #303030f3;
  --color-mc-mr: order;
  --color-hover: #ff9900f9;
  --color-font: rgba(255, 255, 255, 0.807);
  --radius: 500px 100px;
  --font-family: "Solway", serif;
}

:root[data-theme="blue"] {
  --color-container: #bcdefb;
  --color-keyboard: #4fb3f6;
  --clolor-namber: #6fd0f9e5;
  --color-hover: #0866ea;
  --color-mc-mr: #004f79;
  --color-font: #111525;
  --radius: 40px 0;
  --font-family: Lucida Sans Unicode, "Lucida Sans";
}

:root[data-theme="green"] {
  --color-container: rgba(212, 251, 94, 0.938);
  --color-keyboard: #79d10e;
  --clolor-namber: #aae740e5;
  --color-hover: #15520a9a;
  --color-mc-mr: rgb(19, 73, 19);
  --radius: 15px;
  --font-family: " serif";
}
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--color-container);
  /* overflow: hidden; */
}
ul,
li {
  list-style: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 320px;
  grid-template-rows: minmax(30px, 3%) minmax(150px, 35%) minmax(230px, 62%);
  grid-template-areas:
    "header header"
    "result history"
    "button history";
}
header {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.title p {
  font-size: 0.8rem;
  padding-left: 2px;
  font-weight: 400;
  padding-top: 5px;
}
header .icons {
  justify-content: space-between;
}
.icons i {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.icons i:last-child {
  margin-right: 5px;
}
.close:hover {
  background: rgb(206, 89, 89);
  color: #fff;
}
.mini:hover,
.max:hover {
  background: rgb(195, 191, 191);
  color: #fff;
}
div.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.burger {
  display: inline-flex;
  margin-left: 10px;
  justify-content: space-between;
}
.burger p {
  margin-left: 15px;
  font-size: 1.2rem;
  margin-top: 3px;
}
.burger .left-side {
  display: flex;
  align-items: baseline;
}
.burger .left-side p + img {
  width: 14px;
  height: 14px;
  margin-left: 20px;
}
.left-side img {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 16px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
}
.left-side p {
  align-self: center;
}
.burger .right-side {
  align-self: center;
}
.right-side img {
  display: none;
  margin-right: 16px;
  cursor: pointer;
}
.burger img:hover {
  background: rgb(195, 191, 191);
}
.result .modes {
  display: flex;
  max-width: 380px;
  justify-content: space-between;
  align-items: center;
}
.modes button {
  font-size: 0.75rem;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  width: 25%;
  border: none;
}
.modes button.active:hover {
  background: #ddd;
}
.modes button.active {
  font-size: 0.9rem;
  font-weight: 500;
}
.modes button.de-active {
  color: #999;
  cursor: default;
}
.modes i {
  font-size: 0.5rem;
}
.output {
  display: flex;
  flex-direction: column;
}
.result .zero {
  align-self: flex-end;
  padding-right: 20px;
  justify-content: flex-end;
  font-size: calc(2rem + 3.5vh);
  font-weight: 500;
}
.history {
  grid-area: history;
  margin-top: 5px;
}
.history h5 {
  margin-top: 37px;
  font-weight: 600;
  font-size: 1.1rem;
}
.history p {
  color: #9b9999;
  font-size: 1rem;
}

.history ul {
  width: 100%;
  display: block;
  text-align: end;
  padding-right: 10px;
}
.history ul:hover {

  background: #1d1818;
}
.history ul li span {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  color: #000;
}
.history h4 {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
}
.history h4.border-bottom {
  border-bottom: 2px solid orange;
}
.numbers {
  grid-area: button;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.numbers button {
  width: 19.7%;
  height: 19.5%;
  cursor: pointer;
  border: none;
}
.number {
  background-color: #fff;
  font-weight: bolder;
  font-size: 1.5rem;
}
.sign {
  font-size: 1.2rem;
  background-color: rgb(236, 234, 234);
}
.sign i,
img {
  background-color: inherit;
}
.numbers button:hover {
  background: #ddd;
}
sup,
sub {
  background-color: inherit;
}
.output {
  align-self: flex-end;
}
#first-number {
  position: relative;
  left: 0;
}
.sm-show {
  display: none;
}
.trash{
  display: none;
  position: fixed;
  bottom: 3px;
  right: 4px;
  cursor: pointer;
}

.hover:hover{
  width: 100%;
  z-index: 1000 !important;
background-color: #000 !important;
}
@media only screen and (max-width: 1024px) {
  .numbers button {
    width: 24.7%;
    height: 16.3%;
  }
  .lg-hide {
    display: none;
  }
  .lg-row {
    order: -4;
  }
  .lg-row1 {
    order: -3;
  }
  .lg-row2 {
    order: -2;
  }
  .lg-row3 {
    order: -1;
  }
}
@media screen and (max-width: 740px) {
  .container {
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .sm-show {
    display: block;
  }

  .container {
    grid-template-columns: 2fr;
  }
  .history {
    display: none;
  }
  .right-side img {
    display: flex;
    opacity: 0.5;
  }
  .burger .left-side p + img {
    display: none;
  }
}
@media only screen and (max-height: 620px) {
  .numbers button {
    width: 24.7%;
    height: 16.3%;
  }
  .lg-hide {
    display: none;
  }
  .lg-row {
    order: -4;
  }
  .lg-row1 {
    order: -3;
  }
  .lg-row2 {
    order: -2;
  }
  .lg-row3 {
    order: -1;
  }
}
